* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
}

aside {
  background-color: white;
  align-items: center;
  min-height: 100vh;
  width: 20vw;
}

aside img {
  width: 30px;
  flex-direction: column;
  border-radius: 50%;
  padding: 2px;
  width: 80px;
  /* height: 80px; */
}

div.perfil {
  flex-direction: column;
}

div.perfil img {
  width: 60px;
  height: 60px;
  border-radius: 70px;
}

li {
  /* background-color: #E94F3; */
  border: 2px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  display: flex;
  background-color: #a491d2;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
}

button:hover {
  background-color: #cdc3e6;
  color: white;
}

button:focus {
  background-color: #bec1bb;
}

.nuevo {
  justify-items: center;
  align-content: center;
  height: 100px;
}

ul {
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  width: 80vw;
  background-color: rgb(238, 234, 234);
  flex-direction: column;
}

main img {
  display: flex;
  width: 300px;
  height: 300px;
  border-radius: 5%;
}

h1 {
  background-color: rgb(238, 234, 234);
}
p {
  background-color: rgb(238, 234, 234);
}

.perfilactivo {
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-style: normal;
  justify-content: center;
}

.Datos {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-style: normal;
  justify-content: space-evenly;
}

/* }   */

.aside contacto {
  background-color: white;
  width: 10px;
  /* flex-direction: column; */
}


.roboto-large {
  font-family: "Roboto", serif;
  font-size: 45px;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-size: 16px;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-small {
  font-family: "Roboto", serif;
  font-size: 14px;
  font-style: normal;
}

.roboto-x-small {
  font-family: "Roboto", serif;
  font-size: 10px;
  font-style: normal;
}
